@import './setup.scss';


.baoming_body {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  text-align: center;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  background-color: #333;
  color: #fff;
  overflow-y: scroll;

  h2 {
    padding: 20px 0;
  }
  h5 {
    margin: 0;
    padding: 5px 0;
    font-weight: 300;
  }
  h6 {
    font-weight: 300;
    font-size: 12px;
  }
  p {
    word-break: break-all;
  }
}

.user-icon {
  position: relative;
  margin: 20px auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.test_link {
  position: fixed;
  width: 100px;
  height: 50px;
  bottom: 0;
  margin: auto;
}

.baoming-form-wrapper {
  padding: 35px 0;
}
.padding-size {
  padding: 50px 0;
}
